{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
	<div id="bookList" class="w-full overflow-scroll flex flex-col justify-center items-start">
        {% for book in books %}          
            <div class="w-full p-6 mb-4 border-none rounded shadow-sm bg-slate-100">
                <p>Titre : <span class="font-semibold">{{ book.title }}</span></p>
                <p class="my-4">Description : <span class="font-semibold">{{ book.description }}</span></p>
                <p>Auteur : <span class="font-semibold">{{ book.author.fullName }}</span></p>
            </div>
        {% endfor %}
	</div>
{% endblock %}