<div class="w-full">
    {{ form_start(authorForm) }}
        {{ form_row(authorForm.fullName, {'attr': {'class': 'mb-4 flex flex-col w-full'}}) }}
        <div class="flex items-center justify-end">
            {{ form_row(authorForm.save, {'attr': {'class': 'bg-blue-500 text-white border-none rounded px-4 py-3 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-200'}}) }}
        </div>
    {{ form_end(authorForm) }}
</div>