{% extends 'base.html.twig' %}

{% block title %}Liste des livres
{% endblock %}

{% block body %}
	<div class="px-16 w-full">
		{% include 'components/table.html.twig' with { headerCells: tableHeaderCells, rows: books } %}
	</div>
{% endblock %}
